<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Amusement parks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> 
</head>

<body>

<h1>Attractions of xxx Amusement park</h1>


	
	<table class="table table-striped" >
	
		<tr>
			<th>Name</th>
			<th>Score</th>
			<th>Comments</th>
			<th>Category</th>
		</tr>
		
		<tr>
		<tr th:each="park : ${park.attractions}">		
		<td th:text="${attraction.attractionName}">Name</td>
		<td th:text="${attraction.attractionScore}">Score</td>
		<td th:text="${attraction.comment}">Comments</td>
		<td th:text="${attraction.category.categoryName}">Category</td>		
		<td th:type="hidden" th:field="*{parkId}" />
		
		</tr>
		
	</table>
	
	<br/>
	
	<a href="/addattraction" class="btn btn-success">Add attraction</a>
	<a href="/parklist" class="btn btn-primary">Back to Amusement parks</a>


</body>
</html>