<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Amusement parks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> 
</head>

<body>



<h1>Visits to Amusement parks</h1>

	<table class="table table-striped">
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>Country</th>
			<th>City</th>
			<th>Score</th>
			<th>Webpage</th>
			<th>List of attractions</th>
			<th>Add new attraction</th>
			<th>Edit</th>
			<th>Delete</th>
			
			
		</tr>
		
		<tr th:each="visit : ${visits}">
		<td th:text="${visit.visitDate}">Date</td>
		<td th:text="${visit.park.parkName}">Name</td>
		<td th:text="${visit.park.country}">Country</td>
		<td th:text="${visit.park.city}">City</td>
		<td th:text="${visit.park.parkScore}">Score</td>
		<td th:text="${visit.park.webpage}">Webpage</td>			
		<td><a th:href="@{/editpark/{id}(id=${park.parkId})}">Edit</a></td>
		<td><a th:href="@{/deletepark/{id}(id=${park.parkId})}" class="btn btn-danger">Delete</a></td>
		
		</tr>
		
	</table>
	
	<a href="/addpark" class="btn btn-primary">Add new park</a>
	<a href="/parklist" class="btn btn-primary">Back to Amusement parks</a>



</body>
</html>